<% provide(:title, @user.name) %>
<div> Logged in as: <%= current_user.name %></div>
<div> <% if current_user.admin? %> 
			admin
		<%else  %> 
			not admin
		<% end %> 

</div>

<h1><%= @user.name %></h1>
